<p id="notice"><%= notice %></p>
<h1>Blog dos Estagiários</h1>
<th> -------------------------------------------------------</th>
<% if user_signed_in? %>
  <p>Usuário logado: <%= current_user.email %></p>
  <p><%=link_to 'Fazer Log out', destroy_user_session_path, method: :delete %></p>
<% end %>
<th> -------------------------------------------------------</th>
<p> </p>
<%= link_to 'Novo Post', new_post_path %> |
<%= link_to 'Pagina Inicial', welcome_index_path %></p>
<h2>Postagens</h2>

<table>
  <thead>
    <tr>
      <th>Título</th>
      <th>Conteúdo</th>
      <th>Autor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.titulo %></td>
        <td><%= post.conteudo %></td>
        <td><%= post.autor %></td>
        <td><%= link_to 'Mostrar', post %></td>
        <% if user_signed_in? %>
         <% if post.autor.eql?(current_user.email) %>
            <td><%= link_to 'Editar', edit_post_path(post) %></td>
            <td><%= link_to 'Excluir', post, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
         <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
